.nav
    a(href=`${baseUrl}${"/"}`)
        //- img(src="asset/image/wfs-logo.png", height="40", width="200", alt="Home", class="logo")
        .logo
    ul.menu
        li #[a(href=`${baseUrl}${"/about-us"}`) About Us]
        li #[a(href=`${baseUrl}${"/our-services"}`) Our Services]
        li #[a(href=`${baseUrl}${"/contact-us"}`) Contact Us]